@font-face {
    font-family: "sourceserif4_36pt";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/sourceserif4_36pt/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "sourceserif4_36pt";
    font-weight: 800;
    font-display: swap;
    src: url('/assets/typho/sourceserif4_36pt/italic/800.ttf') format('truetype');
}