@font-face {
    font-family: "Bitter";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/Bitter/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "Bitter";
    font-weight: 300;
    font-display: swap;
    src: url('/assets/typho/Bitter/italic/300.ttf') format('truetype');
}