@font-face {
    font-family: "Bitter";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/Bitter/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "Bitter";
    font-weight: 500;
    font-display: swap;
    src: url('/assets/typho/Bitter/italic/500.ttf') format('truetype');
}