@font-face {
    font-family: "Bitter";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/Bitter/normal/900.ttf') format('truetype');
}

@font-face {
    font-family: "Bitter";
    font-weight: 900;
    font-display: swap;
    src: url('/assets/typho/Bitter/italic/900.ttf') format('truetype');
}