@font-face {
    font-family: "trilium_web";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/trilium_web/normal/200.ttf') format('truetype');
}

@font-face {
    font-family: "trilium_web";
    font-display: swap;
    font-weight: 200;
    src: url('/assets/typho/trilium_web/italic/200.ttf') format('truetype');
}