@font-face {
    font-family: "trilium_web";
    font-display: swap;
    font-weight: 300;
    src: url('/assets/typho/trilium_web/normal/300.ttf') format('truetype');
}

@font-face {
    font-family: "trilium_web";
    font-display: swap;
    font-weight: 300;
    src: url('/assets/typho/trilium_web/italic/300.ttf') format('truetype');
}