@font-face {
    font-family: "trilium_web";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/trilium_web/normal/400.ttf') format('truetype');
}

@font-face {
    font-family: "trilium_web";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/trilium_web/italic/400.ttf') format('truetype');
}