@font-face {
    font-family: "trilium_web";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/trilium_web/normal/500.ttf') format('truetype');
}

@font-face {
    font-family: "trilium_web";
    font-display: swap;
    font-weight: 500;
    src: url('/assets/typho/trilium_web/italic/500.ttf') format('truetype');
}