@font-face {
    font-family: "trilium_web";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/trilium_web/normal/700.ttf') format('truetype');
}

@font-face {
    font-family: "trilium_web";
    font-display: swap;
    font-weight: 700;
    src: url('/assets/typho/trilium_web/italic/700.ttf') format('truetype');
}