@font-face {
    font-family: "sverige_script";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/SverigeScriptClean_Demo/400.ttf') format('truetype');
}

@font-face {
    font-family: "sverige_script";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/SverigeScriptDecorated_Demo/400.ttf') format('truetype');
}
